<html ng-app = "myApp">
<head> 
    <title>Prueba con angular 4</title>       
</head>
<body ng-app>
    <p>Prueba con angular 4</p>
    <table ng-controller="control">
        <tr>
            <th>Indice </th>
            <th>Date  </th>
            <th>Usage Idle  </th>
        </tr>
        <tr ng-repeat="post in posts">
            <td>{{$index}}</td>
            <td>{{post.date}}</td>
            <td>{{post.usage_idle}}</td>
        </tr>
</body>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript" src="controlador.js"></script>

</html>
