<div class="hello">
    Hello from  -> <b> GUILLE PLUGIN</b>
    <script>
    import MySQLdb
    import mysql.connector

    baseRelacional = MySQLdb.connect(host="sitedev.ipxon.net",    # your host, usually localhost
                        user="tesis",         # your username
                        passwd="tesis.2018",  # your password
                        db="tesis")        # name of the data base

    cur = baseRelacional.cursor()

    sql = ("SELECT * from GuilleCPU")
    cur.execute(sql)
    filas = cur.fetchall()
    for fila in filas:
        print(fila)
    </script>    
</div>
